@media (min-width:769px) and (max-width:1024px){
    
    .clientes{
        flex-wrap: wrap;
    }
    
    .container{
        padding: 0px 20px;
    }

    .area-depoimento{
        padding: 40px 20px;
    }
}

@media (min-width:426px) and (max-width:768px){

    .container{
        padding: 0px 20px;
    }

    .area-depoimento{
        padding: 40px 20px;
    }

    .info-apresent{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .info2{
        order: 0;
    }


    .img-apresent img{
        width: 250px;
    }

    .img-apresent2{
        width: 250px;
    }

    .info-section-depoimento{
        grid-template-columns: 1fr;
    }

    .clientes{
        flex-wrap: wrap;
    }

    .info-ultm{
        flex-direction: column;
        text-align: center
    }

    .area-info-header{
        padding-top: 350px
    }

    .cliente{
        text-align: center;
    }

    .menu nav{
        display: none;
    }

    .menu-mobile{
        display: block;
    }
}


@media (max-width: 425px){
    .container{
        padding: 0px 20px;
    }

    .area-depoimento{
        padding: 40px 20px;
    }

    .info-apresent{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .info2{
        order: 0;
    }

    .info-section-depoimento{
        grid-template-columns: 1fr;
    }

    .clientes{
        flex-wrap: wrap;
    }

    .info-ultm{
        flex-direction: column;
        text-align: center
    }

    .area-info-header{
        padding-top: 350px
    }

    .cliente{
        text-align: center;
    }

    .area-info-header h1{
        font-size: 50px;
    }

    .img-apresent img{
        width: 250px;
    }

    .img-apresent2{
        width: 250px;
    }

    .menu nav{
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(100vh - 100px);
        top: 100px;
        background: rgb(21, 61, 112);
        
    }

    .menu nav ul{
        flex-direction: column;
    }

    .menu-mobile{
        display: block;
    }
}